.el-form-item__label {
    width: 100% !important;
    text-align: left !important;
    line-height: 25px !important;
    margin: 15px 0px 15px !important;
    padding: 0;
}

.el-form-item__content label {
    color: #606266 !important;
}

.el-form-item__content {
    margin-left: 0px !important;
}

.el-form-item {
    /* margin-bottom: 13px; */
}

.el-select {
    width: 100%;
}

.page-link.active, .active > .page-link {
    background-color: #409eff !important;
    border-color: #409eff !important;
}

.page-link {
    color: #409eff;
}

.el-badge__content.is-fixed {
    right: 40px !important;
}

.c-booking-date label {
    line-height: 8px !important;
    padding-top: 15px !important;
    padding-bottom: 30px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.c-booking-date .el-checkbox__label {
    font-size: 15px !important;
    padding: 0 !important;
}

.c-booking-date .el-checkbox__input {
    display: none !important;
}

.c-booking-date .el-badge__content {
    height: 23px !important;
    /* line-height: 18px !important; */
    padding: 2px 6px !important;
}

.c-booking-date .is-checked {
    background-color: #409eff38 !important;
}

.c-booking-subheader {
    font-size: 14px !important;
    color: #606266 !important;
}

.ticket-header .el-card__header {
    background-color: aliceblue !important;
}

.text-xxs {
    font-size: 13px !important;
}

.el-progress-bar__outer {
    background-color: #c1c5cc !important;
}

.el-progress-bar {
    width: 200px;
}

.el-progress__text {
    font-size: 12.5px !important;
}

.has-error input.el-input__inner {
    border-color: #F56C6C !important;
}

.border-danger {
    color: #f56c6c;
    border-color: #fbc4c4;
}
/* .pagination li {
    margin-right: 10px;
    border-radius: 20px;
    width: 37px;
    text-align: center;
}

.pagination li span {
    border-radius: 4px;
}

.pagination li a {
    border-radius: 4px;
} */